#newNotesSctn{
    padding: 1.3em;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color:#B6D8EA;
    border-radius: 20px;
    max-width: 25em;
}
#titleInput{
    background-color: #fff7f7;
    border: none;
    width: 90%;
    margin-bottom: 1em;
    padding: 1em;
}
#noteInput{
    background-color: #fff7f7;
    border: none;
    width: 90%;
    height: 10em;
    margin-bottom: 1em;
    padding: 1em;
}
#saveBtn{
    background-color: #053752; 
    color:#FDF8DD;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.6em 1.2em;
    border: 1px solid transparent;
}
