#notesDiv{
    display: flex;
    flex-direction:column;
    /* background-color: #FEE4B7; */
    height: 100%;
    padding: 2em;
    background-color: var(--rosa);
    background-size: cover;
}

#heatherSection{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 1em;
}
#logoutBtn{
    background-color: #053752; 
    color:#FDF8DD;
    width: 150px;
    height: 3em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.6em 1.2em;
    border: 1px solid transparent;
}
#welcome{
    color: #053752;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 1em;
    font-size: 1em;
    text-decoration: none;
    min-width: 50px;
}
#modalBtn{
    cursor: pointer;
    width: 5em;
}

#notesUL{
    border: 3px solid salmon;
}

/* TABLET STYLE */
@media only screen and (min-width: 555px) {
    #welcome{
        font-size: 1.2em;   
    }
}